// Show link source
// For fully qualified URLs only
a {
	&[href^='http'],
	&[href^='ftp'] {
		&::after {
			content: ' (' attr(href) ')';
			font-size: 80%;
		}
	}

	&[href$='.jpg'],
	&[href$='.jpeg'],
	&[href$='.gif'],
	&[href$='.png'] {
		&::after {
			display: none;
		}
	}
}

// Show the abbreviation's expansion
abbr[title]::after {
	content: ' (' attr(title) ')';
}
